<html>

    <head>

        <title>SisEventos</title>

        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../css/indexmenu444.css" />

    </head>
    <style>body {
  background-image: url(../css/imagens/car.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}</style>
    <body>
        
        <nav class="menu">

            <ul>

                <li><a href="indexmenu.html">Home</a></li>



                <li><a href="#">Eventos</a>

                    <ul>

                        <li><a href="Eventos/FormEvento.php">Cadastrar</a></li>

                        <li><a href="Eventos/ConsultarEvento.php">Consultar</a>

                    </ul>

                </li>

                <li><a href="#">Cidades</a>
                
                <ul>

                    <li><a href="Cidades/FormCidade.php">Cadastrar</a></li>

                    <li><a href="Cidades/Consultarcidade.php">Consultar</a>

                    </ul>

                </li>

                <li><a href="Contato.html">Contato</a></li>

            </ul>

        </nav>

    </body>
   
</html>